include ./separator.template.pug

mixin projectItem(title, content, stack, imageUrl, links)
    .projects__item-container
        .projects__image-wrap
            img.projects__image(src=imageUrl)
        .projects__text-wrap
            .projects__header-container
                .projects__title= title
                .projects__stack= stack
            .projects__content= content
            .projects__link-wrap
                each link in links
                    a.projects__link(href=link.href, target="_blank")= link.text


.projects
    +separator("Projects")
    .projects__section-inner
        +projectItem(
            "Hobby Kernel Dev",
            "Currently developing a simple x86 kernel to explore topics in operating system design and computer architecture, allowing me to get hands-on experience with the OS development process.",
            "C, Assembly",
            "images/Kernel-Preview.png",
            [{
                text: "View on Github",
                href: "https://github.com/BlazingBBQ/os_dev"
            }]
        )
        +projectItem(
            "Intel 8080 Processor Emulator",
            "Created an emulator for the Intel 8080 processor, with the goal of emulating Space Invaders. The emulator supports full instruction disassembly and emulation, as well as external hardware emulation.",
            "C",
            "images/Emulator-Preview.png",
            [{
                text: "View on Github",
                href: "https://github.com/BlazingBBQ/8080_emulator"
            }]
        )
        +projectItem(
            "XY-Platform",
            "Developed a two-axis precision-controlled system, capable of navigating user entered coordinates, using the Texas Instruments MSP430FR4133 board and C, as part of my Prototyping and Instrumentation course project.",
            "C",
            "images/msp430fr4133-Datasheet.gif",
            [{
                text: "View on Github",
                href: "https://github.com/BlazingBBQ/xyplatform"
            }])
        +projectItem(
            "MIDI Controller",
            "Developed a MIDI (Musical Instrument Digital Interface) controller using C++ for the Onion Omega board. Wrote a simple MIDI interpreter in Python to process incoming MIDI commands.",
            "C++, Python",
            "images/Onion-Omega-Preview.png",
            [])
        +projectItem(
            "Node.js Web Game (Chaotic-Engine)",
            "Developed a web game engine using a Node.js server and Socket.io to connect multiple players to a single game world. Client-side rendering is done using HTML5 Canvas, and a custom graphics specification format. A simple, inheritance-based component definition system is used to facilitate the creation of new game objects.",
            "Typescript, Node.js, Socket.io, Html5 Canvas",
            "images/ChaoticMP-Preview.png",
            [{
                text: "View on Github",
                href: "https://github.com/BlazingBBQ/Chaotic-Engine",
            },
            {
                text: "Try it out",
                href: "https://chaoticmp.simoncousineau.com",
            }])
        +projectItem(
            "Automatic Test Scaffolder (QAssistant)",
            "Developed a VSCode extension that automatically creates test files and scaffolds test cases. Implemented a flexible configuration which allows support for multiple programming languages.",
            "Typescript, VSCode Api",
            "images/VSCode-Preview-2x1.png",
            [{
                text: "View on Github",
                href: "https://github.com/BlazingBBQ/QAssistant",
            },
            {
                text: "View on VS Marketplace",
                href: "https://marketplace.visualstudio.com/items?itemName=blazingbbq.qassistant",
            }])
        +projectItem(
            "House of Commons Quiz Game v2 (hocq2)",
            "Developed an efficient study tool in Ruby on Rails to help House of Commons Pages effectively recognize and name all 338 Members of Parliament. Initially built with Java and Swing but later converted to a web application for ease of access and deployment of new features.",
            "Ruby on Rails, Java + Swing",
            "images/Hocq2-Preview.png",
            [{
                text: "View on Github",
                href: "https://github.com/BlazingBBQ/hocq2",
            },
            {
                text: "Try it out",
                href: "https://hocq.simoncousineau.com",
            }])

    #experience
    +separator("Experience")
    .projects__section-inner
        +projectItem(
            "Embedded Software Engineering Intern - Ciena",
            "Developed python scripts for GDB, including a heap-walking script for 32-bit ARM systems using Musl, a fast and lightweight libc implementation for Linux based operating systems. Productized a memory management tool (DataWatch) by developing user-space application and kernel module code to handle memory allocations. Extended existing exception handler behaviour using PowerPC assembly. Worked closely with experienced engineers to provide resources and support to effectively use on-system debugging tools.",
            "C, Python, PowerPC Assembly, Linux, GDB",
            "images/Ciena-Preview.svg",
            []
        )
        +projectItem(
            "Cloud Platform Developer - Wind River Systems",
            "Worked with open-source technologies such as Python, Kubernetes, Docker, Helm and StarlingX to develop platform monitoring and analytics for distributed systems. Implemented and configured data processing pipelines to filter, parse and pre-process system logs. Analyzed platform metrics and logs to determine critical information used for platform monitoring and fault management. Tested application changes on various platform configurations and under different conditions to ensure proper functioning even in fault scenarios. Reviewed preliminary notes and findings with experienced engineers in order to ensure all functional requirements were captured and to verify proposed methodologies. ",
            "Python, Kubernetes, Docker, Helm, StarlingX",
            "images/Windriver-Preview.png",
            []
        )
        +projectItem(
            "Back-End Developer Intern - Shopify",
            "Worked on internal tools, such as the internal wiki and employee directory integration, in Ruby on Rails. Planned and implemented a Slack integration for these tools, while keeping scalability and upcoming features in mind. Contributed to crucial internal tools projects, including Shopify’s Internal App Engine for rapid app prototyping and Shopify’s research portal. Demonstrated strong communication abilities by effectively working with many in-house and remote coworkers, and through regular feature demonstrations.",
            "Ruby on Rails, React, GraphQL, Slack API",
            "images/Shopify-Preview.png",
            [])
        +projectItem(
            "Front-End Developer Intern - Shopify",
            "Developed enterprise commerce software solutions for merchants around the world, using  React, Typescript, Html and Scss. Tested application functionality and ensured adequate test coverage using Jest and Enzyme testing frameworks. Maintained internal software tools to enable fast and reliable development. Communicated with team members to coordinate and solve complex problems. Documented best practices when designing and implementing software applications.",
            "React, Typescript, Scss, Jest, Enzyme",
            "images/Shopify-Preview.png",
            [])
        +projectItem(
            "Mobile Application Developer (Coop) - Kinaxis",
            "Brought to life new feature ideas suggested by customers and product managers using cutting edge technologies and frameworks, such as Typescript, Html, Scss, and AngularJS. Ensured code was well tested by writing Jasmine and Protractor tests, as well as keeping existing Selenium tests up to date. Solved complex implementation and optimization problems with other team members to ensure optimal performance. Demonstrated strong communication abilities through daily team meetings and regular feature demonstration days. Properly managed time while working independently in order to meet established deadlines.",
            "AngularJs, Typescript, Scss, Jasmine, Protractor",
            "images/Kinaxis-Preview.png",
            [])